*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background: #34495e;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-signup{
	position: relative;
	background-color: white;
	width: 350px;
	height: 500px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.form button{
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

.form button:hover{
	background-color: #3e8e41;
}

.form input{
	padding: 10px;
	border: none;
	border-bottom: 1px solid gray;
	width: 100%;
	font-size: 16px;
}

.form input:focus{
	outline: none;
	border-bottom: 2px solid #4caf50;
}

.login-form, .signup-form{
	position: relative;
	transition: all 1s ease-in-out;
}

.login-form{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.signup-form{
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
}

.message{
	margin-top: 15px;
	color: gray;
	font-size: 12px;
}

.message a{
	color: #4caf50;
	text-decoration: none;
}
